<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layoutControl"
        >
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Перевод денег на счет</title>
</head>
<body>

<div layout:fragment="contentBar" id="content-bar">
    <h2>Введите данные о получателе</h2>

    <form action="" method="post">
        <table>
            <tr>
                <td>Введите номер счета получателя</td>
                <td>
                    <input type="text" name="accountNumber"/>
                </td>
            </tr>
            <tr>
                <td>Фамилия получателя</td>
                <td>
                    <input type="text" name="lastName"/>
                </td>
            </tr>
            <tr>
                <td>Имя получателя</td>
                <td>
                    <input type="text" name="firstName"/>
                </td>
            </tr>
            <tr>
                <td>Отчество получателя</td>
                <td>
                    <input type="text" name="patrName"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Перевести"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>