#content {
    margin: 2%;
}

#error-message {
    text-decoration: underline;
    font-weight: bold;
    color: #ef6d21;
    font-size: 12px;
}

#stacktrace {
    color: #500;
    font-size: small;
}