#content {
    margin: 2%;
}

#error-message {
    text-decoration: underline;
    font-weight: bold;
    color: #090;
    font-size: 12px;
}

#stacktrace {
    color: #500;
    font-size: small;
}

#system_notice {
    width: 50%;
    margin-left: 3%;
    color: #F00;
    border: 1px solid #ef6d21;
    padding: 5px;
    text-align: center;
}