<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
    ° ? matches a single character
    ° * matches zero or more characters, excluding /
    ° ** matches zero or more directories in a path
    -->
    <http pattern="/resources/**" security="none"/>
    <http pattern="/app/account/signin" security="none"/>

    <!-- use-expressions="true" - For using SpringSecurity tags in Thymeleaf -->
    <http auto-config="true" use-expressions="true">

        <!--<intercept-url pattern="/SimpleServlet" access="hasRole('ROLE_USER')" />-->
        <intercept-url pattern="/app" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/app/PaymentCard/list" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/app/TransferMoney/selectCard" access="hasRole('ROLE_USER')"/>


        <form-login login-page="/app/account/signin"/>
        <logout logout-url="/app/account/logout" logout-success-url="/"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="ibankAuthService"/>
    </authentication-manager>


    <global-method-security secured-annotations="enabled" />

    <beans:bean id="ibankAuthService"
                class="com.daoleen.banking.web.infrastructure.beans.impl.BankingUserDetailsService"/>
    <!--<beans:bean id="passwordEncoder" class="..." />-->

</beans:beans>