<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layoutControl">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Вход в панель управления</title>
</head>
<body>

<div layout:fragment="contentBar" id="content-bar">
    <h2>Панель управления</h2>

    <p>
        Добро пожаловать в Вашу панель управления.<br/>Здесь вы сможете произвести оплату счетов, управлять
        состоянием своего счета, и тд и тп.. Наслаждайтесь.
    </p>
</div>

</body>
</html>